{:paths   ["src"]
 :deps    {com.amazonaws/aws-lambda-java-core {:mvn/version "1.2.0"}
           org.clojure/data.json {:mvn/version "0.2.7"}}
 :aliases {:dev  {:extra-paths ["test" "example" "example/target/lambda/stedi.example/hello.jar"]
                  :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                           :sha     "cb96e80f6f3d3b307c59cbeb49bb0dcb3a2a780b"}}}
           :lint {:extra-deps {clj-kondo {:mvn/version "2019.09.22-alpha"}}
                  :main-opts ["-m" "clj-kondo.main" "--lint" "."]}
           :test {:main-opts ["-m" "cognitect.test-runner"]}}}
